{
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100px;
}

.intro{
	width: 100%;
	height:100%;
	background: url("https://wallpapercave.com/wp/tfUMfjr.jpg");
	text-align: center;
	background-size: cover;
	background-repeat:no-repeat;
	display: table;
	top: 0;
}

.inner{
	display: table-cell;
	vertical-align: middle;
	width:90%;

}

.content{
	width: 40vw;
	height: 50vh;
	background: rgba(255,255,255,0.39);
	margin: auto;
	border-radius: 7%;
	display: table;
	text-align: center;

}

.photo{
	display: table-cell;
	width: 40%;
	height: 50%
	border: 2px solid;
	border-radius: 50%;
	text-align: center;
}

.input1{
	display: table-cell;
	margin-left: 3.1vw;
	margin-top: 8vh;
	background:1% 1% 1% 10%;
	background-size:contain;
	background-repeat: no-repeat;
	font-size: 5px;
	font-family: 'Arial';
	border: 0px;
	border-bottom: 1px solid WHITE;
	width:13.5vw;


}
.input2{
	display: table-cell;
	margin-left: 3.1vw;
	margin-top: 8vh;
	background:1% 1% 1% 10%;
	background-size:contain;
	background-repeat: no-repeat;
	font-size: 8px;
	font-family: 'Arial';
	border: 0px;
	border-bottom: 1px solid WHITE;
	width:13.1vw;
}	
	
.input2[placeholder] {
	padding-left:12px;
	padding-right: 20px;
	display: inline-block;
	font-family: 'pacifico';
	font-size: 1.5vw;
	width: 100%;
	box-sizing: border-box;
	margin:0px;
	padding-top: 5px;
	padding-bottom:5px;
	

}
.input1[placeholder] {
	padding-left:12px;
	padding-right: 5px;
	display: inline-block;
	font-family: 'pacifico';
	font-size: 1.5vw;
	width: 100%;
	box-sizing: border-box;
	margin:0px;
	padding-top: 5px;
	padding-bottom:5px;
	

}

.loginbtn{
	width:200;
	padding:12px;
	background-color: green;
	margin: 10px 5px;
	cursor:pointer;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.cancelbtn{
	width:auto;
	padding-top: 5px;
	background-color: red;
	width: 90px;
	padding-bottom: 5px;
	float: left;
	margin: 10px 5px;
}
span.psw{
	float:right;
	padding-top:5px;
	padding-bottom: 45px;
}




